block ArticleForm
    form#articleForm(role='form', action='/admin/articles/#{article._id}')
        div.form-group
            label(for='title') Title
            input#title.form-control(type='text', name='title' placeholder='title', value='#{article.title}')
            
        div.form-group
            label(for='abstract') Abstract
            input#abstract.form-control(type='text', name='abstract' placeholder='Abstract', value='#{article.abstract}')
        
        div.form-group
            label(for='art_type') Article Type
            input#art_type.form-control(type='text', name='art_type' placeholder='Email', value='#{article.art_type}')
        
        div.form-group
            label(for='category') Category
            input#category.form-control(type='text', name='category' placeholder='Institution', value='#{article.category}')
        
        //div.form-group
        //    label(for='url') URL
        //    input#url.form-control(type='text', name='url', placeholder='Url')
        
        button#submitButton.btn.btn-default(type='submit') Update
    

block scripts
    script(type='text/javascript')
        window.articleForm.onsubmit = function () {
            var req = new XMLHttpRequest();
            
            req.onload = function () {
              console.log(this.responseText);
              window.submitButton.disabled = false;
            };
            
            req.onerror = function () {
                alert('error sending request. Try again!');
                window.submitButton.disabled = false;
            }
            req.open('put', '/admin/articles/#{article._id}', true);
            req.send();
            window.submitButton.disabled = true;
            return false;
        }